%pointDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: 10px;
    border-radius: 10px;
    border: 1px solid #e6f2ff;
}
@mixin joinDiv {
    .mainJoin {
        @extend %pointDiv;
        width: 500px;
        height: 250px;
    }
}

@mixin loginDiv {
    .mainLogin{
        @extend %pointDiv;
        width: 500px;
        height: 250px;
        input{
            width: 450px;
            height: 75px;
            font-size: 30px;
            border-radius: 10px;
            &:focus{
                background-color: #e6f2ff;
            }
        }

        div{
            display: flex;
            justify-content: space-between;
            width: 460px;

            button{
                border-radius: 8px;
                width: 70px;
                height: 40px;
            }
        }
    }
}