@import "mainLogin";
.loginForm{
    @include loginDiv;
}

.loginFormBack{
    animation: loginChange 3s ease;
    @include loginDiv;
}

@keyframes loginChange {
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}